.page{
    padding:2rem 17rem;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 2rem;
    min-height: 200px;
    
}
a{
    text-decoration: none;
}

.newfirst{
    display: flex;

    flex-direction: column;
    gap: 2rem;
}
#posts1{
    padding: 1rem;
}
.msglist{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: black;
}
.msglist img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.msglist .img-name{
    display: flex;
    align-items: center;
    gap: 30px;
    color: black;

}

.userlist
{
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
}


.texts {
    display: flex;
    flex-direction: column;
    
}
.texts .my{
    display: flex;
    justify-content: end;
}
.texts .f{
    display: flex;
    justify-content: start;
}

.texts .me{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    

}
.texts .me .text{
    background-color:rgba(255 63 128);
    padding: 0.6rem;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    margin-left: 40px;


}
.texts .me .time{
    
    font-size: 14px;
    margin-left: 200px;


}
.texts img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.texts .me img{

position: relative;
top: 10px;
}



.texts .friend .text{
    background-color:rgb(229, 229, 229);
    padding: 0.6rem;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-left: 40px;


}
.texts .friend .time{
    
    font-size: 14px;
    margin-left: 200px;


}
.texts img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.texts .friend img{

position: relative;
top: 10px;
}

.msginput {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.texts{
    background-color: #efefef;
}

.msginput input{
        height: 30px;
        font-size: 15px;
        padding: 0.7rem;
        width: 80%;
        /* background-color: #e3e3e3; */
        border-radius: 10px;

        border: .5px solid black;
        height: 40px;
        
        
        



}

.msginput button{
    height: 40px;
    border: none;
    background-color: rgba(255 63 128);
    color: white;

    padding: 10px;
    cursor: pointer;


    border-radius: 10px;
    
}

.fprofile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.fprofile .friend {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 50px;
    font-size: 16px;
     margin-left: 1rem;

}
.texts{
    padding: 2rem 1rem;
    height: 100%;
    overflow-y: scroll;
}

.posts{
    padding: 0;
    
   
}

.newpost{
    padding: 1rem !important;
}